<header class="flex justify-between px-5 py-2 shadow shadow-gray-100">
  <p class="flex font-inter font-bold text-2xl" [routerLink]="['/']">
    <span class="logo-first-part text-slate-800 ">Habel</span>
    <span class="logo-second-part text-lime-400">Chat</span>
  </p>
  <nav class="flex text-md">
    <!-- <input type="text" class="px-2 mx-2 border-[0.1rem] border-zinc-500 outline-none rounded"> -->
    <ul>
      <li class="text-lime-400"><a href="#" class="material-symbols-outlined"><i class="fa-solid fa-bars"></i></a></li>
    </ul>
  </nav>
</header>
