<footer class="bg-lime-400 p-2">
  <div class="flex justify-between gap-4">
    <button class="p-4 flex flex-col text-2xl {{css.button.text}}" [routerLink]="['/home']">
      <i class="fa-solid fa-house"></i>
      <span class="text-sm">Home</span>
    </button>
    <button class="p-4 flex flex-col text-2xl {{css.button.text}}">
      <i class="fa-solid fa-video"></i>
      <span class="text-sm">Video</span>
    </button>
    <button class="p-4 flex flex-col justify-items-start text-2xl {{css.button.text}}">
      <i class="fa-solid fa-film"></i>
      <span class="text-sm">Movies</span>
    </button>
    <button class="p-4 flex flex-col text-2xl {{css.button.text}}">
      <!-- <i class="fa-solid fa-right-to-bracket"></i> -->
      <i class="fa-solid fa-paper-plane"></i>
      <span class="text-sm">messages</span>
    </button>
  </div>
</footer>
